In [11]:
import pandas as pd

df = pd.read_excel("Weight_Tracking_Final.xlsx")
df

          Date  Weight  Pushups
0   2023-05-02   114.0       14
1   2023-05-03   113.6       18
2   2023-05-04   113.4       19
3   2023-05-05   113.1       20
4   2023-05-06   113.0       20
..         ...     ...      ...
258 2024-01-15    93.7       47
259 2024-01-16    94.0       49
260 2024-01-17    94.2       47
261 2024-01-18    94.5       48
262 2024-01-19    94.7       48

[263 rows x 3 columns]

In [15]:
#adding day column to dataframe

df['Date'] = pd.to_datetime(df['Date'])

df['day'] = (df['Date'] - df['Date'].iloc[0]).dt.days + 1

In [16]:
# Adding BMI to dataframe
height_m = 1.96
df['BMI'] = df['Weight'] / (height_m ** 2)
df

          Date  Weight  Pushups  day        BMI
0   2023-05-02   114.0       14    1  29.675135
1   2023-05-03   113.6       18    2  29.571012
2   2023-05-04   113.4       19    3  29.518950
3   2023-05-05   113.1       20    4  29.440858
4   2023-05-06   113.0       20    5  29.414827
..         ...     ...      ...  ...        ...
258 2024-01-15    93.7       47  259  24.390879
259 2024-01-16    94.0       49  260  24.468971
260 2024-01-17    94.2       47  261  24.521033
261 2024-01-18    94.5       48  262  24.599125
262 2024-01-19    94.7       48  263  24.651187

[263 rows x 5 columns]

In [17]:
df.to_excel('Weight_Tracking_altered.xlsx', index=False)